* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: #f4f4f4;
}

.main-container {
    width: 1250px;
    margin: auto;
    padding-top: 125px;
}

/* Break Point */
.break-point-horizontal {
    margin: auto;
    width: 1030px;
}

.break-point-horizontal hr {
    margin: 25px 0 50px 0;
    height: 0.1px;
    background-color: rgba(0, 0, 0, 0.35);
}
/* End of Breakpoint */

/* About */
.about {
    width: 1030px;
    display: flex;
    justify-content: space-between;
    margin: auto auto 50px auto;
}

.about-img-wrapper {
    position: relative;
    width: 413px;
    height: 519px;
}

.img-about {
    width: 275px;
    height: 350px;
}

.img-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about-img-wrapper .pos-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.about-img-wrapper .pos-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.about-img-wrapper .pos-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.about-img-wrapper .pos-4 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.about-info-wrapper {
    display: flex;
    width: 515px;
    align-items: center;
}

.about-info .title {
    font-size: 50px;
    margin-bottom: 10px;
}
.about-info p {
    font-size: 16px;
    text-align: justify;
}
/* End of About */

/* Documentation Video */
.header {
    width: 1030px;
    margin: auto;
}

.header-title {
    font-size: 50px;
    margin-top: -15px;
    margin-bottom: 30px;
}

.hero {
    position: relative;
    width: 1030px;
    height: 400px;
    margin: auto auto 50px auto;
    color: white;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.hero-info {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 0 0 10px 10px;
    bottom: 0;
    padding: 9px 0 0 25px;
}

.hero-info h1 {
    font-size: 40px;
    font-weight: 400;
}

.hero-info p {
    font-size: 20px;
}
/* End of Documentation Video */

/* Photos */
.photos {
    display: flex;
    justify-content: space-between;
    width: 1030px;
    margin: auto;
    margin-block-end: 50px;
}

.photos-wrapper {
    width: 330px;
    height: 450px;
}

.photos-slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

.photos-selected {
    display: block;
}

.photos-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.photos-button {
    cursor: pointer;
}

.photos-button .photos-nav-left,
.photos-nav-right {
    position: absolute;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.photos-button .photos-nav-left {
    bottom: 195px;
    left: 10px;
}

.photos-button .photos-nav-right {
    bottom: 195px;
    right: 10px;
}

.photos-info-wrapper {
    display: flex;
    align-items: center;
    width: 630px;
}

.photos-info .title {
    font-size: 50px;
    margin-bottom: 10px;
}

.photos-info p {
    font-size: 16px;
    text-align: justify;
}
/* End of Photos */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
}

.footer-container {
    width: 1250px;
    margin: auto;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.bxs-heart {
    color: red;
}
/* End of Footer */

/* Responsive */
/* End of Responsive */
