* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: #f4f4f4;
}

.main-container {
    width: 1250px;
    margin: auto;
    padding-top: 125px;
}

/* Break Point */
.break-point-horizontal {
    margin: auto;
    width: 1030px;
}

.break-point-horizontal hr {
    margin: 25px 0 50px 0;
    height: 0.1px;
    background-color: rgba(0, 0, 0, 0.35);
}
/* End of Breakpoint */

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: white;
    z-index: 100;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

nav .navbar {
    position: relative;
    height: 100%;
    max-width: 1250px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav .navbar .side-open {
    color: black;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .navbar .logo {
    margin-right: auto;
}

nav .navbar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.menu .logo-toggle {
    display: none;
}

.navbar .navlink {
    display: flex;
    align-items: center;
}

.navbar .navlink li {
    margin: 0 5px;
    list-style: none;
}

.navlink li a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: black;
    padding: 10px;
    text-decoration: none;
}

.navlink li a:hover {
    color: rgb(127, 127, 127);
}

.searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.searchToggle i {
    position: absolute;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

.searchBox .searchField {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 1px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .searchField {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.searchField::before {
    content: "";
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: black;
    transform: rotate(-45deg);
    z-index: -1;
}

.searchField input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: white;
}

.searchField i {
    position: absolute;
    color: black;
    right: 15px;
    font-size: 16px;
    cursor: pointer;
}
/* End of Navigation Bar */

/* About */
.about {
    width: 1030px;
    display: flex;
    justify-content: space-between;
    margin: auto auto 50px auto;
}

.about-img-wrapper {
    position: relative;
    width: 413px;
    height: 519px;
}

.img-about {
    width: 275px;
    height: 350px;
}

.img-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about-img-wrapper .pos-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.about-img-wrapper .pos-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.about-img-wrapper .pos-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.about-img-wrapper .pos-4 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.about-info-wrapper {
    display: flex;
    width: 515px;
    align-items: center;
}

.about-info .title {
    font-size: 50px;
    margin-bottom: 10px;
}
.about-info p {
    font-size: 16px;
    text-align: justify;
}
/* End of About */

/* Documentation Video */
.header {
    width: 1030px;
    margin: auto;
}

.header-title {
    font-size: 50px;
    margin-top: -15px;
    margin-bottom: 30px;
}

.hero {
    position: relative;
    width: 1030px;
    height: 400px;
    margin: auto auto 50px auto;
    color: white;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.hero-info {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 0 0 10px 10px;
    bottom: 0;
    padding: 9px 0 0 25px;
}

.hero-info h1 {
    font-size: 40px;
    font-weight: 400;
}

.hero-info p {
    font-size: 20px;
}
/* End of Documentation Video */

/* Photos */
.photos {
    display: flex;
    justify-content: space-between;
    width: 1030px;
    margin: auto;
    margin-block-end: 50px;
}

.photos-wrapper {
    width: 330px;
    height: 450px;
}

.photos-slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

.photos-selected {
    display: block;
}

.photos-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.photos-button {
    cursor: pointer;
}

.photos-button .photos-nav-left,
.photos-nav-right {
    position: absolute;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.photos-button .photos-nav-left {
    bottom: 195px;
    left: 10px;
}

.photos-button .photos-nav-right {
    bottom: 195px;
    right: 10px;
}

.photos-info-wrapper {
    display: flex;
    align-items: center;
    width: 630px;
}

.photos-info .title {
    font-size: 50px;
    margin-bottom: 10px;
}

.photos-info p {
    font-size: 16px;
    text-align: justify;
}
/* End of Photos */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
}

.footer-container {
    width: 1250px;
    margin: auto;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.bxs-heart {
    color: red;
}
/* End of Footer */

/* Responsive */
@media screen and (max-width: 768px) {
    nav .navbar {
        justify-content: space-between;
    }

    nav .navbar .logo {
        margin-right: 0;
    }

    nav .navbar .side-open {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: white;
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .navbar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .logo-toggle .side-close {
        color: black;
        font-size: 24px;
    }

    .navbar .navlink {
        flex-direction: column;
        padding-top: 30px;
    }

    .navlink li a {
        display: block;
        margin: 20px;
    }
}
/* End of Responsive */
