* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: #fafafa;
}

.main-container {
    width: 1250px;
    margin: auto;
    padding-top: 95px;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: white;
    z-index: 100;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

nav .navbar {
    position: relative;
    height: 100%;
    max-width: 1250px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav .navbar .side-open {
    color: black;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .navbar .logo {
    margin-right: auto;
}

nav .navbar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.menu .logo-toggle {
    display: none;
}

.navbar .navlink {
    display: flex;
    align-items: center;
}

.navbar .navlink li {
    margin: 0 5px;
    list-style: none;
}

.navlink li a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: black;
    padding: 10px;
    text-decoration: none;
}

.navlink li a:hover {
    color: rgb(127, 127, 127);
}

.searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.searchToggle i {
    position: absolute;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

.searchBox .searchField {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 1px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .searchField {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.searchField::before {
    content: "";
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: black;
    transform: rotate(-45deg);
    z-index: -1;
}

.searchField input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: white;
}

.searchField i {
    position: absolute;
    color: black;
    right: 15px;
    font-size: 16px;
    cursor: pointer;
}
/* End of Navigation Bar */

/* Header Categories */
.header-categories {
    display: flex;
    justify-content: space-between;
}

.header-categories h1 {
    border-right: 1px solid rgba(0, 0, 0, 0.35);
    padding-right: 15px;
    font-size: 50px;
    font-weight: 400;
}

.categories-wrapper {
    font-size: 16px;
    display: flex;
}

.categories-wrapper small {
    margin: auto;
}
/* End of Header Categories */

/* Sort */
.dropdown-categories {
    min-width: 10em;
    position: relative;
    margin: 10px;
}
.dropdown-categories * {
    width: 200px;
    box-sizing: border-box;
}
.select-categories {
    background: none;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    border-radius: 0.5em;
    padding: 10px;
    cursor: pointer;
    transition: background 0.4s;
}
.select-categories-clicked {
    border: 2px solid;
}

.caret-categories {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
    transition: 0.3s;
}

.caret-categories-rotate {
    transform: rotate(180deg);
}

.menu-categories {
    list-style: none;
    padding: 0.2em 0em;
    background: #e6e6e6;
    box-shadow: 0 0.5em 1em rgba(75, 3, 3, 0.2);
    border-radius: 0.5em;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 2em;
    width: 200px;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu-categories li {
    padding: 0.1em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu-categories li:hover {
    background: #dadada;
}

.active {
    background: #000000;
    color: #fafafa;
}

.menu-categories-open {
    display: block;
    opacity: 1;
}
/* End of Sort */

/* Categories Card */
.card-wrapper-categories {
    width: 1030px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-categories {
    position: relative;
    width: 311px;
    height: 277px;
    margin-block: 50px;
}

.card-image-categories {
    width: 100%;
    height: 175px;
}

.card-image-categories img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-categories .card-info-categories {
    width: 100%;
    height: 102px;
}

.card-categories .card-info-categories span {
    display: flex;
    justify-content: center;
    padding-top: 2px;
    width: 45px;
    height: 20px;
    border-radius: 10px;
    background-color: #d9d9d9;
    font-size: 12px;
    margin-top: 7px;
}

.card-categories .card-footer-categories {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.card-title-categories {
    font-weight: bold;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 44px;
    font-size: 16px;
    text-align: justify;
    font-weight: 600;
}

.card-title-categories a {
    color: black;
    text-decoration: none;
}

.card-footer-categories a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.card-footer-categories small {
    margin-top: 2.5px;
    font-size: 10px;
}

/* .card-wrapper-all-articles,
.card-wrapper-videos {
    margin-block: 50px;
} */

.card-desc-categories {
    text-align: justify;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 65px;
}
/* End of Card With Description */

/* Footer */
footer {
    position: absolute;
    bottom: 0;
}

.footer-container {
    width: 1250px;
    margin: auto;
}

footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.bxs-heart {
    color: red;
}
/* End of Footer */

/* Responsive */
@media screen and (max-width: 768px) {
    nav .navbar {
        justify-content: space-between;
    }

    nav .navbar .logo {
        margin-right: 0;
    }

    nav .navbar .side-open {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: white;
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .navbar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .logo-toggle .side-close {
        color: black;
        font-size: 24px;
    }

    .navbar .navlink {
        flex-direction: column;
        padding-top: 30px;
    }

    .navlink li a {
        display: block;
        margin: 20px;
    }
}
/* End of Responsive */
