/* General */
.main-container {
    width: 1250px;
    margin: auto;
}
/* End of General */

/* Break Point */
.break-point-horizontal {
    margin: auto;
    width: 1030px;
}

.break-point-horizontal hr {
    margin: 50px 0 40px 0;
    height: 0.1px;
    background-color: rgba(0, 0, 0, 0.35);
}
/* End of Breakpoint */

/* Carousel */
.carousel {
    margin: 90px auto auto auto;
    position: relative;
    width: 1030px;
    height: 325px;
}

.carousel-slides {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -999;
    opacity: 0;
    transition: all 0.75s ease-in-out;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-selected {
    opacity: 1;
    z-index: 0;
}

.carousel-slides iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}

.carousel-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}

.carousel-slides img:hover {
    scale: 1.05;
}

.carousel-info {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1030px;
    height: 112px;
    background-color: black;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    border-radius: 0 0 10px 10px;
    padding: 0 25px;
}

.carousel-info .tag-wrapper {
    display: flex;
}

.carousel-info .carousel-title {
    max-width: 950px;
    max-height: 50px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px 0;
}

.carousel-info .tag {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 20px;
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
}

.carousel-info small {
    display: block;
    font-size: 10px;
    color: white;
}

.carousel-button {
    position: relative;
    cursor: pointer;
}

.carousel-button .carousel-nav-left,
.carousel-nav-right {
    position: absolute;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.carousel-button .carousel-nav-left:hover,
.carousel-button .carousel-nav-right:hover {
    background-color: rgba(0, 0, 0, 1);
    scale: 1.5;
}

.carousel-button .carousel-nav-left {
    bottom: 140px;
    left: 15px;
}

.carousel-button .carousel-nav-right {
    bottom: 140px;
    right: 15px;
}
/* End of Carousel */

/* Card */
.card-wrapper {
    width: 1030px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 48.5px;
    margin: auto;
    margin-block: 28px;
}

.card {
    width: 311px;
    border-radius: 10px 10px 0 0;
}

.card-image {
    position: relative;
    height: 175px;
    overflow: hidden;
    border-radius: 10px;
}

.card-image .card-view {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 60px;
    height: 20px;
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
}

.card-image .card-view small {
    font-size: 11px;
    color: black;
}

.card-image iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-image a {
    width: 100%;
    height: 100%;
}

.card-image a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}

/* .card-image a img:hover {
    scale: 1.15;
} */

.card-info .tag-wrapper {
    width: 100%;
    display: flex;
    margin-top: 5px;
}

.card-info .tag-wrapper a {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 20px;
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 5px;
}

.card-info .card-title {
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.card-info .card-title a {
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}

.card-info .card-desc {
    width: 100%;
    max-height: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.card-info .card-desc p {
    font-size: 13px;
    text-align: justify;
    color: black;
}

.card-info .card-footer {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 5px;
}

.card-info .card-footer a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}

.card-info .card-footer a:hover {
    color: #3b71ca;
}

.card-info .card-footer small {
    font-size: 11px;
    color: black;
}
/* End of Card */

/* Header Articles */
.header {
    display: flex;
    margin: auto;
    width: 1030px;
}

.header h1 {
    border-right: 1px solid rgba(0, 0, 0, 0.35);
    padding-right: 15px;
    font-size: 50px;
    font-weight: 400;
}

.header a {
    text-decoration: none;
    color: black;
    margin: auto 0 auto 15px;
    border-bottom: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.header a:hover {
    color: #3b71ca;
    border-color: #3b71ca;
}
/* End of Header Articles */

/* Hero Image */
.hero-image {
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
}

.hero-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

.hero-desc {
    width: 1250px;
    margin: auto;
}

.hero-desc p {
    width: 850px;
    height: 100px;
    font-size: 24px;
    color: white;
}

.hero-desc a {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 175px;
    height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: white;
    margin-top: 25px;
    transition: all 0.2s ease-in-out;
}

.hero-desc a:hover {
    color: white;
    background-color: black;
}
/* End of Hero Image */

/* Image Gallery */
.image-gallery-wrapper {
    width: 1030px;
    height: 300px;
    display: grid;
    grid-template-areas:
        "img1 img2 img3 img3 img4 img4 img5"
        "img1 img6 img3 img3 img7 img8 img9";
    grid-template-rows: auto;
    grid-template-columns: 150px 1fr;
    margin: auto;
    margin-block-start: 28px;
}

.image-gallery-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}

/* .image-gallery-wrapper img:hover {
    scale: 1.15;
} */

.image-1 {
    width: 150px;
    height: 300px;
    overflow: hidden;
    grid-area: img1;
}

.image-2 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    grid-area: img2;
}

.image-3 {
    width: 280px;
    height: 300px;
    overflow: hidden;
    grid-area: img3;
}

.image-4 {
    width: 300px;
    height: 150px;
    overflow: hidden;
    grid-area: img4;
}

.image-5 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    grid-area: img5;
}

.image-6 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    grid-area: img6;
}

.image-7 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    grid-area: img7;
}

.image-8 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    grid-area: img8;
}

.image-9 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    grid-area: img9;
}
/* End of Image Gallery */

/* Responsive */
@media screen and (max-width: 768px) {
    /* General */
    .main-container {
        width: 95%;
        margin: auto;
    }
    /* End of General */

    /* Break Point */
    .break-point-horizontal {
        margin: auto;
        width: 100%;
    }

    .break-point-horizontal hr {
        margin: 40px auto;
        height: 0.1px;
        background-color: rgba(0, 0, 0, 0.35);
    }
    /* End of Breakpoint */

    /* Carousel */
    .carousel {
        margin: 75px auto 10px auto;
        position: relative;
        width: 100%;
        height: 325px;
    }

    .carousel-slides {
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -999;
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .carousel-selected {
        opacity: 1;
        z-index: 0;
    }

    .carousel-slides img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.35);
    }

    .carousel-info .tag-wrapper {
        display: flex;
    }

    .carousel-info .carousel-title {
        max-width: 100%;
        max-height: 41px;
        display: block;
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 2px 0;
    }

    .carousel-info .tag {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: 0 10px 0 10px;
        height: 20px;
        color: black;
        background-color: #d9d9d9;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        margin-right: 5px;
    }

    .carousel-info small {
        display: block;
        font-size: 10px;
        color: white;
    }

    .carousel-button {
        position: relative;
        cursor: pointer;
    }

    .carousel-button .carousel-nav-left,
    .carousel-nav-right {
        position: absolute;
        font-size: 40px;
        color: white;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }

    .carousel-button .carousel-nav-left {
        bottom: 140px;
        left: 10px;
    }

    .carousel-button .carousel-nav-right {
        bottom: 140px;
        right: 10px;
    }
    /* End of Carousel */

    /* Card */
    .card-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: auto;
        margin-block: 5px;
    }

    .card {
        width: 100%;
        margin-block: 0;
        border-radius: 10px 0 0 10px;
    }

    .detail-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .card-image {
        position: relative;
        width: 35%;
        height: 100%;
    }

    .card-image iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .card-image .card-view {
        position: absolute;
        bottom: 5px;
        left: 5px;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 60px;
        height: 20px;
        color: black;
        background-color: #d9d9d9;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 400;
    }

    .card-image .card-view small {
        font-size: 11px;
        color: black;
    }

    .card-image a {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .card-image a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 65%;
        height: 100%;
        margin-left: 5px;
    }

    .card-info .tag-wrapper {
        width: 100%;
        display: flex;
        margin-top: 5px;
    }

    .card-info .tag-wrapper a {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: 0 10px 0 10px;
        height: 20px;
        color: black;
        background-color: #d9d9d9;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        margin-right: 5px;
    }

    .card-info .card-title {
        width: 100%;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 5px;
    }

    .card-info .card-title a {
        font-size: 16px;
        font-weight: 600;
        text-align: justify;
        text-decoration: none;
        color: black;
    }

    .card-info .card-desc {
        width: 100%;
        max-height: 64px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 5px;
    }

    .card-info .card-desc p {
        font-size: 13px;
        text-align: justify;
        color: black;
    }

    .card-info .card-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        margin-top: 5px;
    }

    .card-info .card-footer a {
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        color: black;
    }

    .card-info .card-footer small {
        font-size: 11px;
        color: black;
    }
    /* End of Card */

    /* Header Articles */
    .header {
        display: flex;
        margin: 40px auto;
        width: 100%;
    }

    .header h1 {
        border-right: 1px solid rgba(0, 0, 0, 0.35);
        padding-right: 15px;
        font-size: 40px;
        font-weight: 400;
    }

    .header a {
        font-size: 14px;
        text-decoration: none;
        color: black;
        margin: auto 0 auto 15px;
        border-bottom: 1px solid black;
    }

    .header-latest h1 {
        width: 195px;
    }
    /* End of Header Articles */

    /* Hero Image */
    .hero-image {
        width: 100%;
        height: 450px;
        margin-bottom: 50px;
    }

    .hero-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        margin: auto;
    }

    .hero-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-info {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.35);
    }

    .hero-desc {
        width: 90%;
        margin: auto;
    }

    .hero-desc p {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        font-size: 20px;
        color: white;
    }

    .hero-desc a {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-block: 10px;
        width: 150px;
        height: 50px;
        text-decoration: none;
        font-size: 16px;
        color: black;
        background-color: white;
    }
    /* End of Hero Image */

    /* Image Gallery */
    .image-gallery-wrapper {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
            "img1 img2"
            "img1 img6"
            "img3 img3"
            "img3 img3"
            "img4 img4"
            "img5 img7"
            "img8 img9";
        grid-template-rows: auto;
        grid-template-columns: 50% 1fr;
        margin: auto;
        margin-block-start: 28px;
    }

    .image-gallery-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-1 {
        width: 100%;
        height: 100%;
        grid-area: img1;
    }

    .image-2 {
        width: 100%;
        height: 100%;
        grid-area: img2;
    }

    .image-3 {
        width: 100%;
        height: 150px;
        grid-area: img3;
    }

    .image-4 {
        width: 100%;
        height: 150px;
        grid-area: img4;
    }

    .image-5 {
        width: 100%;
        height: 100%;
        grid-area: img5;
    }

    .image-6 {
        width: 100%;
        height: 100%;
        grid-area: img6;
    }

    .image-7 {
        width: 100%;
        height: 100%;
        grid-area: img7;
    }

    .image-8 {
        width: 100%;
        height: 100%;
        grid-area: img8;
    }

    .image-9 {
        width: 100%;
        height: 100%;
        grid-area: img9;
    }
    /* End of Image Gallery */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* General */
    .main-container {
        width: 95%;
        margin: auto;
    }
    /* End of General */

    /* Break Point */
    .break-point-horizontal {
        margin: auto;
        width: 100%;
    }

    .break-point-horizontal hr {
        margin: 40px auto;
        height: 0.1px;
        background-color: rgba(0, 0, 0, 0.35);
    }
    /* End of Breakpoint */

    /* Carousel */
    .carousel {
        margin: 95px auto auto auto;
        position: relative;
        width: 100%;
        height: 325px;
    }

    .carousel-slides {
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -999;
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .carousel-selected {
        opacity: 1;
        z-index: 0;
    }

    .carousel-slides img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.35);
    }

    .carousel-info .tag-wrapper {
        display: flex;
    }

    .carousel-info .carousel-title {
        max-width: 100%;
        max-height: 41px;
        display: block;
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 2px 0;
    }

    .carousel-info .tag {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: 0 10px 0 10px;
        height: 20px;
        color: black;
        background-color: #d9d9d9;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        margin-right: 5px;
    }

    .carousel-info small {
        display: block;
        font-size: 10px;
        color: white;
    }

    .carousel-button {
        position: relative;
        cursor: pointer;
    }

    .carousel-button .carousel-nav-left,
    .carousel-nav-right {
        position: absolute;
        font-size: 40px;
        color: white;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }

    .carousel-button .carousel-nav-left {
        bottom: 140px;
        left: 10px;
    }

    .carousel-button .carousel-nav-right {
        bottom: 140px;
        right: 10px;
    }
    /* End of Carousel */

    /* Card */
    .card-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: auto;
        margin-block: 5px;
    }

    .card {
        width: 100%;
        margin-block: 0;
        border-radius: 10px 0 0 10px;
    }

    .detail-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .card-image {
        position: relative;
        width: 35%;
        height: 100%;
    }

    .card-image iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .card-image .card-view {
        position: absolute;
        bottom: 5px;
        left: 5px;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 60px;
        height: 20px;
        color: black;
        background-color: #d9d9d9;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 400;
    }

    .card-image .card-view small {
        font-size: 11px;
        color: black;
    }

    .card-image a {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .card-image a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 65%;
        height: 100%;
        margin-left: 5px;
    }

    .card-info .tag-wrapper {
        width: 100%;
        display: flex;
        margin-top: 5px;
    }

    .card-info .tag-wrapper a {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: 0 10px 0 10px;
        height: 20px;
        color: black;
        background-color: #d9d9d9;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        margin-right: 5px;
    }

    .card-info .card-title {
        width: 100%;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 5px;
    }

    .card-info .card-title a {
        font-size: 16px;
        font-weight: 600;
        text-align: justify;
        text-decoration: none;
        color: black;
    }

    .card-info .card-desc {
        width: 100%;
        max-height: 64px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 5px;
    }

    .card-info .card-desc p {
        font-size: 13px;
        text-align: justify;
        color: black;
    }

    .card-info .card-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        margin-top: 5px;
    }

    .card-info .card-footer a {
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        color: black;
    }

    .card-info .card-footer small {
        font-size: 11px;
        color: black;
    }
    /* End of Card */

    /* Header Articles */
    .header {
        display: flex;
        margin: 40px auto;
        width: 100%;
    }

    .header h1 {
        border-right: 1px solid rgba(0, 0, 0, 0.35);
        padding-right: 15px;
        font-size: 40px;
        font-weight: 400;
    }

    .header a {
        font-size: 14px;
        text-decoration: none;
        color: black;
        margin: auto 0 auto 15px;
        border-bottom: 1px solid black;
    }

    .header-latest h1 {
        width: 350px;
    }
    /* End of Header Articles */

    /* Hero Image */
    .hero-image {
        width: 100%;
        height: 450px;
        margin-bottom: 50px;
    }

    .hero-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        margin: auto;
    }

    .hero-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-info {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.35);
    }

    .hero-desc {
        width: 90%;
        margin: auto;
    }

    .hero-desc p {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        font-size: 20px;
        color: white;
    }

    .hero-desc a {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-block: 10px;
        width: 150px;
        height: 50px;
        text-decoration: none;
        font-size: 16px;
        color: black;
        background-color: white;
    }
    /* End of Hero Image */

    /* Image Gallery */
    .image-gallery-wrapper {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
            "img1 img2"
            "img1 img6"
            "img3 img3"
            "img3 img3"
            "img4 img4"
            "img5 img7"
            "img8 img9";
        grid-template-rows: auto;
        grid-template-columns: 50% 1fr;
        margin: auto;
        margin-block: 28px;
    }

    .image-gallery-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-1 {
        width: 100%;
        height: 100%;
        grid-area: img1;
    }

    .image-2 {
        width: 100%;
        height: 100%;
        grid-area: img2;
    }

    .image-3 {
        width: 100%;
        height: 150px;
        grid-area: img3;
    }

    .image-4 {
        width: 100%;
        height: 150px;
        grid-area: img4;
    }

    .image-5 {
        width: 100%;
        height: 100%;
        grid-area: img5;
    }

    .image-6 {
        width: 100%;
        height: 100%;
        grid-area: img6;
    }

    .image-7 {
        width: 100%;
        height: 100%;
        grid-area: img7;
    }

    .image-8 {
        width: 100%;
        height: 100%;
        grid-area: img8;
    }

    .image-9 {
        width: 100%;
        height: 100%;
        grid-area: img9;
    }
    /* End of Image Gallery */
}
