/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: #fafafa;
}

.main-container {
    width: 1250px;
    margin: auto;
}
/* End of General */

/* Break Point */
.break-point-horizontal {
    margin: auto;
    width: 1030px;
}

.break-point-horizontal hr {
    margin: 25px 0 50px 0;
    height: 0.1px;
    background-color: rgba(0, 0, 0, 0.35);
}
/* End of Breakpoint */

/* Carousel */
.carousel {
    margin-top: 95px;
    position: relative;
}

.carousel-slides {
    margin: auto;
    position: relative;
    width: 1030px;
    height: 325px;
    display: none;
}

.carousel-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-selected {
    display: block;
}

.carousel-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1030px;
    height: 112px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 0 0 10px 10px;
    padding: 11px 40px 12px 40px;
}

.carousel-info a {
    width: 950px;
    height: 50px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px 0;
}

.carousel-info .tag {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 45px;
    height: 20px;
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.carousel-info small {
    display: block;
    font-size: 10px;
    color: white;
}

.carousel-button {
    position: relative;
    cursor: pointer;
}

.carousel-button .carousel-nav-left,
.carousel-nav-right {
    position: absolute;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.carousel-button .carousel-nav-left {
    bottom: 140px;
    left: 10px;
}

.carousel-button .carousel-nav-right {
    bottom: 140px;
    right: 10px;
}
/* End of Carousel */

/* Card */
.card-home-wrapper {
    width: 1030px;
    display: flex;
    gap: 0 48.5px;
    flex-wrap: wrap;
    margin: auto;
}

.card-home {
    width: 311px;
    margin-bottom: 30px;
    margin-top: 28px;
}

.card-home-image {
    width: 100%;
    height: 175px;
}

.card-home-info {
    margin-block: 10px;
}

.card-home-info .tag {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 45px;
    height: 20px;
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.card-home-image img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
}

.card-home-title {
    display: block;
    width: 100%;
    height: 40px;
    text-align: justify;
    text-decoration: none;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.card-home-desc {
    width: 100%;
    height: 64px;
    text-align: justify;
    margin-top: 5px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-home-footer {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 5px;
}

.card-home-footer a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.card-home-footer small {
    font-size: 11px;
}

/* End of Card */

/* Header Latest Articles */
.header {
    display: flex;
    margin: auto;
    width: 1030px;
}

.header h1 {
    border-right: 1px solid rgba(0, 0, 0, 0.35);
    padding-right: 15px;
    font-size: 50px;
    font-weight: 400;
}

.header a {
    text-decoration: none;
    color: black;
    margin: auto 0 auto 15px;
    border-bottom: 1px solid black;
}
/* End of Header Latest Articles */

/* Hero Image */
.hero-image {
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
}

.hero-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

.hero-desc {
    width: 1250px;
    margin: auto;
}

.hero-desc p {
    width: 800px;
    height: 100px;
    font-size: 24px;
    color: white;
}

.hero-desc a {
    display: flex;
    justify-content: center;
    padding-top: 12.5px;
    width: 175px;
    height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: white;
}
/* End of Hero Image */

/* Image Gallery */
.image-gallery-wrapper {
    width: 1030px;
    height: 300px;
    display: grid;
    grid-template-areas:
        "img1 img2 img3 img3 img4 img4 img5"
        "img1 img6 img3 img3 img7 img8 img9";
    grid-template-rows: auto;
    grid-template-columns: 150px 1fr;
    margin: auto;
    margin-block: 50px;
}

.image-gallery-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-1 {
    width: 150px;
    height: 300px;
    background-color: white;
    grid-area: img1;
}

.image-2 {
    width: 150px;
    height: 150px;
    background-color: blue;
    grid-area: img2;
}

.image-3 {
    width: 280px;
    height: 300px;
    background-color: gray;
    grid-area: img3;
}

.image-4 {
    width: 300px;
    height: 150px;
    background-color: gold;
    grid-area: img4;
}

.image-5 {
    width: 150px;
    height: 150px;
    background-color: green;
    grid-area: img5;
}

.image-6 {
    width: 150px;
    height: 150px;
    background-color: orange;
    grid-area: img6;
}

.image-7 {
    width: 150px;
    height: 150px;
    background-color: skyblue;
    grid-area: img7;
}

.image-8 {
    width: 150px;
    height: 150px;
    background-color: darkslategrey;
    grid-area: img8;
}

.image-9 {
    width: 150px;
    height: 150px;
    background-color: yellowgreen;
    grid-area: img9;
}
/* End of Image Gallery */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
}

.footer-container {
    width: 1250px;
    margin: auto;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.bxs-heart {
    color: red;
}
/* End of Footer */

/* Responsive */
/* End of Responsive */
