* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #fafafa;
    padding-bottom: 300px;
}

/* Navigation Bar */
nav.navbars {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: white;
    z-index: 999;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

.navlink .nav-active {
    border-bottom: 2.5px solid black;
    transition: all 0.2s ease-in;
}

.navlink .nav-active:hover {
    color: #3b71ca;
}

nav.navbars .navbar {
    position: relative;
    height: 100%;
    max-width: 1250px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav.navbars .navbar .side-open {
    color: black;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav.navbars .navbar .logo {
    margin-right: auto;
}

nav.navbars .navbar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.menu .logo-toggle {
    display: none;
}

.navbar .navlink {
    display: flex;
    align-items: center;
}

.navbar .navlink li {
    margin: 0 5px;
    list-style: none;
}

.navlink li a {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: black;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navlink li a:hover {
    color: #3b71ca;
}

.searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.searchToggle i {
    position: absolute;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.searchToggle i:hover {
    color: #3b71ca;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

.searchBox .searchField {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 1px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .searchField {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.searchField::before {
    content: "";
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: black;
    transform: rotate(-45deg);
    z-index: -1;
}

.searchField input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: white;
}

.searchField i {
    position: absolute;
    color: black;
    right: 15px;
    font-size: 16px;
    cursor: pointer;
}

.logo-toggle i:hover {
    color: red;
}
/* End of Navigation Bar */

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    padding: 20px 0;
    background-color: white;
}

.footer-container {
    width: 1250px;
    margin: auto;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-wrapper h1 {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 5px;
}

.footer-wrapper p {
    font-size: 16px;
    font-weight: 400;
}

.footer-desc {
    width: 27%;
}

.footer-desc a {
    text-decoration: none;
    color: black;
}

.footer-contact {
    width: 26%;
}

.footer-links {
    width: 45%;
}

.footer-links .links-group {
    display: flex;
    justify-content: space-between;
}

.footer-links .links-group .group-ig .wrap {
    display: flex;
    align-items: center;
}

.footer-links .links-group .group-yt .wrap {
    display: flex;
    align-items: center;
}

.footer-links .links-group .group-url .wrap {
    display: flex;
    align-items: center;
}

.footer-links .links-group i {
    font-size: 28px;
}

.footer-links .links-group a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.footer-copy {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    background-color: #f9f5f5;
    border-radius: 15px;
}

.footer-copy small {
    font-size: 16px;
    font-weight: 400;
}

.bxs-heart {
    color: red;
}
/* End of Footer */

/* Language */
.navlink .menu-lang {
    position: relative;
}

.navlink .menu-lang:hover > ul {
    display: block;
    opacity: 1;
}

.navlink .menu-lang ul {
    position: absolute;
    top: 35px;
    width: 100px;
    display: none;
    opacity: 0;
    z-index: 1;
}

.navlink .menu-lang ul.id li {
    position: relative;
    height: 30px;
    background-color: #e6e6e6;
}

.navlink .menu-lang ul.jp li {
    position: relative;
    right: 20px;
    height: 30px;
    background-color: #e6e6e6;
}

.navlink .menu-lang ul li a {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.navlink .lang-active {
    background-color: black;
    color: white;
}

.navlink .menu-lang ul li a.lang-active:hover {
    background-color: rgb(83, 83, 83);
    color: white;
}
/* End of Language */

/* Responsive */
@media screen and (max-width: 768px) {
    body {
        padding-bottom: 500px;
    }

    nav.navbars .navbar {
        justify-content: space-between;
    }

    nav.navbars .navbar .logo {
        margin-right: 0;
    }

    nav.navbars .navbar .side-open {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: white;
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.navbars.active .menu {
        left: -0%;
    }

    nav.navbars.active .navbar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .logo-toggle .side-close {
        color: black;
        font-size: 24px;
    }

    .navbar .navlink {
        flex-direction: column;
        padding-top: 30px;
    }

    .navlink li a {
        display: block;
        margin: 20px;
    }

    /* Footer */
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
        padding: 20px 0;
        background-color: white;
    }

    .footer-container {
        width: 95%;
        margin: auto;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer-wrapper h1 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .footer-wrapper p {
        font-size: 14px;
        font-weight: 400;
    }

    .footer-desc {
        width: 27%;
    }

    .footer-contact {
        width: 26%;
    }

    .footer-links {
        width: 45%;
    }

    .footer-links .links-group {
        display: block;
        justify-content: space-between;
    }

    .footer-links .links-group .group-ig {
        margin-bottom: 7px;
    }

    .footer-links .links-group .group-yt {
        margin-bottom: 7px;
    }

    .footer-links .links-group .group-ig .wrap {
        display: flex;
        align-items: center;
    }

    .footer-links .links-group .group-yt .wrap {
        display: flex;
        align-items: center;
    }

    .footer-links .links-group .group-url .wrap {
        display: flex;
        align-items: center;
    }

    .footer-links .links-group i {
        font-size: 20px;
    }

    .footer-links .links-group a {
        text-decoration: none;
        color: black;
        font-size: 14px;
    }

    .footer-copy {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        margin-top: 25px;
        background-color: #f9f5f5;
        border-radius: 15px;
    }

    .footer-copy small {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    .bxs-heart {
        color: red;
    }
    /* End of Footer */

    /* Language */
    .navlink .menu-lang {
        position: static;
    }

    .navlink .menu-lang:hover > ul {
        display: block;
        opacity: 1;
    }

    .navlink .menu-lang ul {
        position: static;
        width: 100%;
        display: none;
        opacity: 0;
    }

    .navlink .menu-lang ul.id li {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        position: relative;
        height: auto;
        background-color: inherit;
    }

    .navlink .menu-lang ul.jp li {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        position: relative;
        height: auto;
        right: 0;
        background-color: inherit;
    }

    .navlink .menu-lang ul li a {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        margin: 0;
        transition: all 0.2s ease-in-out;
    }

    .navlink .lang-active {
        background-color: black;
        color: white;
    }

    .navlink .menu-lang ul li a.lang-active:hover {
        background-color: rgb(83, 83, 83);
        color: white;
    }

    .navlink .nav-active {
        border-bottom: 2.5px solid black;
        transition: all 0.2s ease-in;
    }

    .navlink .nav-active:hover {
        color: #3b71ca;
    }
    /* End of Language */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Footer */
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
        padding: 20px 0;
        background-color: white;
    }

    .footer-container {
        width: 95%;
        margin: auto;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer-wrapper h1 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .footer-wrapper p {
        font-size: 14px;
        font-weight: 400;
    }

    .footer-desc {
        width: 27%;
    }

    .footer-contact {
        width: 26%;
    }

    .footer-links {
        width: 45%;
    }

    .footer-links .links-group {
        display: flex;
        justify-content: space-between;
    }

    .footer-links .links-group .group-ig {
        margin-bottom: 7px;
    }

    .footer-links .links-group .group-yt {
        margin-bottom: 7px;
    }

    .footer-links .links-group .group-ig .wrap {
        display: flex;
        align-items: center;
    }

    .footer-links .links-group .group-yt .wrap {
        display: flex;
        align-items: center;
    }

    .footer-links .links-group .group-url .wrap {
        display: flex;
        align-items: center;
    }

    .footer-links .links-group i {
        font-size: 20px;
    }

    .footer-links .links-group a {
        text-decoration: none;
        color: black;
        font-size: 11px;
    }

    .footer-copy {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        margin-top: 25px;
        background-color: #f9f5f5;
        border-radius: 15px;
    }

    .footer-copy small {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    .bxs-heart {
        color: red;
    }
    /* End of Footer */

    /* Language */
    .navlink .menu-lang {
        position: relative;
    }

    .navlink .menu-lang:hover > ul {
        display: block;
        opacity: 1;
    }

    .navlink .menu-lang ul {
        position: absolute;
        top: 35px;
        width: 100px;
        display: none;
        opacity: 0;
    }

    .navlink .menu-lang ul.id li {
        position: relative;
        height: 30px;
        background-color: #e6e6e6;
    }

    .navlink .menu-lang ul.jp li {
        position: relative;
        right: 20px;
        height: 30px;
        background-color: #e6e6e6;
    }

    .navlink .menu-lang ul li a {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        transition: all 0.2s ease-in-out;
    }

    .navlink .lang-active {
        background-color: black;
        color: white;
    }

    .navlink .menu-lang ul li a.lang-active:hover {
        background-color: rgb(83, 83, 83);
        color: white;
    }
    /* End of Language */
}
/* End of Responsive */
