/* General */
body {
    background-color: #fafafa;
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
    margin-block-end: 25px;
    padding-top: 95px;
}
/* End of General */

/* Break Point */
.break-point-horizontal {
    margin: auto;
    width: 100%;
}

.break-point-horizontal hr {
    margin: 50px 0 50px 0;
    height: 0.1px;
    background-color: rgba(0, 0, 0, 0.35);
}
/* End of Breakpoint */

/* Header */
.header {
    display: flex;
    margin: auto;
    width: 1030px;
}

.header h1 {
    border-right: 1px solid rgba(0, 0, 0, 0.35);
    padding-right: 15px;
    font-size: 50px;
    font-weight: 400;
}

.header a {
    text-decoration: none;
    color: black;
    margin: auto 0 auto 15px;
    border-bottom: 1px solid black;
}
/* End of Header */

/* Content */
.content {
    width: 840px;
}

.content-thumbnail iframe {
    margin: 20px 0;
}

.image-thumbnail {
    width: 840px;
    height: 425px;
    margin: 20px 0;
}

.image-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content-title h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: justify;
}

.content-title .tag-wrapper {
    display: flex;
}

.content-title .tag {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 45px;
    height: 20px;
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 12px;
    margin: 5px 0;
    text-decoration: none;
    margin-right: 5px;
}

.content-title small {
    font-size: 14px;
}

.content-body p {
    font-size: 20px;
    text-align: justify;
    text-indent: 50px;
    margin-bottom: 5px;
}

.content-body-attachment {
    display: flex;
    justify-content: space-between;
}

.attach-1 {
    width: 410px;
    height: 230px;
}

.attach-2 {
    width: 410px;
    height: 230px;
}

.attach-3 {
    width: 555px;
    height: 200px;
}

.attach-4 {
    width: 270px;
    height: 200px;
}

.attachment img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* End of Content */

/* Sidebar */
.sidebar-wrapper {
    display: flex;
    justify-content: end;
    width: 300px;
    border-left: 0.1px solid rgba(0, 0, 0, 0.35);
}

.sidebar {
    width: 270px;
}

.sidebar-title {
    font-size: 24px;
}
/* End of Sidebar */

/* Card */
.card-wrapper {
    width: 1030px;
    display: flex;
    gap: 0 48.5px;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    width: 311px;
    margin-bottom: 30px;
    margin-top: 28px;
}

.card-image {
    width: 100%;
    height: 175px;
}

.card-info {
    margin-block: 10px;
}

.card-info .tag-wrapper {
    display: flex;
}

.card-info .tag {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 45px;
    height: 20px;
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 5px;
}

.card-image img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    display: block;
    width: 100%;
    height: 40px;
    text-align: justify;
    text-decoration: none;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.card-desc {
    width: 100%;
    height: 64px;
    text-align: justify;
    margin-top: 5px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 5px;
}

.card-footer a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.card-footer small {
    font-size: 11px;
}
/* End of Card */

/* Sidebar Card */
.sidebar-card-wrapper {
    width: 270px;
}

.sidebar-card {
    width: 100%;
    margin: 25px 0;
}

.sidebar-card-img {
    width: 100%;
    height: 150px;
}

.sidebar-card-img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.sidebar-card .tag-wrapper {
    display: flex;
}

.sidebar-card .tag {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 45px;
    height: 20px;
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 5px;
}

.sidebar-card-title {
    display: block;
    text-align: justify;
    height: 40px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* End of Sidebar Card */

/* Responsive */
/* End of Responsive */
